

@media only  screen and  (min-width: 1024px){

    #header-logo {
        padding: 17px 0px;
        width: 90px;
    }
    #header {
        display: flex;
        justify-content: space-between;
    }

    .nav>li {
        padding: 0px 14px;

    }
}

@media only  screen and  (max-width: 1023px){
    #header-logo {
        padding: 0px 0px;
    }

    #header-logo img {
        height: 80%;
        margin-top: 10%;
        border-right: 1px solid #c2c1c1;

    }

    #header {
        display: flex;
        justify-content: left;
    }
    .nav>li {
        padding: 0px 9px;
    }

    #header-block {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #container-header {
        height: 74px;
    }
}


#header {
    width: 100%;
    max-width: 1150px;
   
    margin: auto;
}


#header .nav {
    height: 100%;
}

#header .nav li {
    display: inline-block;
}

#header .nav>li {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    padding-top: 10px;
}

#container-header {
    border-bottom: 4px solid #C8102E;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    /* height: 115px; */
    z-index: 1000;
}

#previous {
    position: absolute;
    top: 50%;
    left: 20px;
}

#next {
    position: absolute;
    top: 50%;
    right: 20px;
}

/* 

#silder {
    display: flex;
    justify-content: center;
} */

#silder img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-position: center;
}

#silder a {
    text-decoration: none;
}

.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.slider-dots li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #999;
    /* cursor: pointer; */
    transition: background-color 0.25s linear;
}

.slider-dots li.active {
    background-color: #EB0A1E;
}

.discovery-vehicles-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;
    color: #1A1A1A;
    margin-bottom: 56px;
}

.section-tab .active {
    border-bottom: 4px solid #EB0A1E;
}

.car-model {
    font-size: 18px;
    text-align: center;
}

.top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.top-content span {
    color: #3A3A3A;
    font-size: 13px;
    line-height: 14px;
}

.box-image {
    position: relative;
}


.box-imgae:hover img {
    transform: scale(1.2);
}

.name-car {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #101010;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 7px;
}

.price-car {
    margin-bottom: 16px;
}

.price-car .price {
    color: #3A3A3A;
    font-size: 27px;
    font-weight: 700;
    position: relative;
}

.price-car .price .currency {
    position: absolute;
    top: 0;
    font-size: 10px;
}

.note-car span:first-child {
    padding-left: 0px;
}

.note-car span {
    font-size: 12px;
    color: #1A1A1A;
    border-right: 0.5px solid #CCCCCC;
    padding: 0 16px;
}

.note-car span:last-child {
    border: none;
}
