#header {
    width: 100%;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#top_header {
    padding-top: 15px;
    padding-bottom: 15px;
}

#bottom_header {
    border-top: 1px solid #ccc;
    height: 45px;
}
.nav {
    height: 100%;
}

.nav li {
    display: inline-block;
}

.nav>li {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 14px;
    padding-top: 10px;
}

.nav .sub-nav {
    position: absolute;
    display: none;
    width: 200px;
    background-color: #fff;
    left: 0px;
    padding: 0px;
    padding-top: 10px;
    border: 0.5px solid #ccc;
}

.sub-nav-contaier {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    border: 0.5px solid #ccc;
    background-color: #fff;
    padding-bottom: 20px;
    margin-top: 3px;
    display: block;
}

.nav-container:hover #nav-contaier {
}
.active-dropdown{
    background-color: #f5f5f5;
}
.sub-nav-container-tech {
    padding-bottom: 0px;
}

.sub-nav-contaier-content{
    max-width: 1200px;
    margin: auto;
}

.nav li a {
    color: black;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.nav>li:hover>a {
    color: #C8102E;
}

#header-logo {
    padding: 17px 0px;
    width: 90px;
}

#container-header {
    border-bottom: 4px solid #C8102E;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    /* height: 115px; */
    z-index: 1000;
}



.nav-container .sub-nav li:hover {
    background-color: rgb(197, 197, 197);
}

/* .nav-container {
    position: relative;
} */

.sub-nav li {
    width: 100%;
    padding-bottom: 9px;

}

.sub-nav li a {
    padding: 8px 20px;
}

.nav-container i {
    padding-left: 5px;
}

.input-search {
    box-shadow: none;
    font-size: 13px;
    padding: 3px 7px;
    color: #999;
    border: none;
    background: no-repeat;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-bottom: 0.5px solid #ccc;
}

.hotline a {
    font-size: 16px;
    font-weight: 600;
    color: #c8102e;
    padding-left: 7px;
}

#previous {
    position: absolute;
    top: 50%;
    left: 20px;
}

#next {
    position: absolute;
    top: 50%;
    right: 20px;
}

/* 

#silder {
    display: flex;
    justify-content: center;
} */

#silder img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-position: center;
}

#silder a {
    text-decoration: none;
}

.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.slider-dots li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #999;
    /* cursor: pointer; */
    transition: background-color 0.25s linear;
}

.slider-dots li.active {
    background-color: #EB0A1E;
}

#section-discovery-vehicles {
    padding-top: 120px;
    padding-bottom: 60px;
}

#discovery-vehicles-container {
    max-width: 1200px;
    margin: auto;
}

.section-tab .nav {
    border-bottom: 1.5px black solid;
}

.discovery-vehicles-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;
    color: #1A1A1A;
    margin-bottom: 56px;
}

.section-tab .active {
    border-bottom: 4px solid #EB0A1E;
}

.section-item {
    padding-bottom: 10px;
    width: 200px;
    cursor: pointer;
}

.car-model {
    font-size: 18px;
    text-align: center;
}

.vehicles-content-list {
    display: flex;
    margin-top: 56px;
}

.vehicles-content {
    width: 300px;
    height: 100%;

}

.vehicles-item {
    padding: 0 28px;
}

.vehicles-item a {
    text-decoration: none;
}

.top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.top-content span {
    color: #3A3A3A;
    font-size: 13px;
    line-height: 14px;
}

.box-image {
    position: relative;
}

.image-car {
    width: 100%;
    height: 105px;
    margin: 0 auto;
    transition: 0.2s all ease-in-out;
}

.box-imgae:hover img {
    transform: scale(1.2);
}

.name-car {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #101010;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 7px;
}

.price-car {
    margin-bottom: 16px;
}

.price-car .price {
    color: #3A3A3A;
    font-size: 27px;
    font-weight: 700;
    position: relative;
}

.price-car .price .currency {
    position: absolute;
    top: 0;
    font-size: 10px;
}

.note-car span:first-child {
    padding-left: 0px;
}

.note-car span {
    font-size: 12px;
    color: #1A1A1A;
    border-right: 0.5px solid #CCCCCC;
    padding: 0 16px;
}

.note-car span:last-child {
    border: none;
}

#section {
    padding-top: 120px;
    padding-bottom: 60px;
}

.section-container {
    max-width: 1200px;
    margin: auto;
}

.section-tab>ul {
    display: flex;
}

.section-tab>ul>li {
    flex: 1;
}

.section-new-post {
    display: flex;
    padding-top: 60px;
    column-gap: 24px;
}

.section-new-post-large a {
    text-decoration: none;
}



.section-new-post-large-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #101010;
    margin-bottom: 12px;
}

.section-new-post-large-content-detail {
    font-size: 14px;
    line-height: 150%;
    color: #101010;
    margin-bottom: 0;
}

.section-new-post-large {
    width: 829px;
}

.section-new-post-small {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.section-new-post-small-container {
    text-decoration: none;
    width: 100%;
}

.section-new-post-small-container>img {
    width: 100%;
    height: 100%;
    max-height: 173px;
    object-fit: cover;
    object-position: center;
}

.section-new-post-small-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #101010;
    margin-bottom: 8px;
}

.section-new-post-small-detail {
    font-size: 14px;
    line-height: 150%;
    color: #101010;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}



.section-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    color: #101010;
    margin-bottom: 60px;
}