@media screen and (max-width: 1023px) {
    .car-price-noti {
        left: 30px;

    }
}

@media screen and (min-width: 1024px) {
    .car-price-noti {
        left: 40px;

    }
}


.car-price-noti {
    position: fixed;
    bottom: 0;
    width: 110px;
    height: 110px;
    cursor: pointer;
    display: block;
    margin-bottom: 80px;
    z-index: 9999;
}

.car-container {
    width: 50px;
    height: 50px;
    background-color: #e60808;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}