.nav {
    height: 100%;
}

.nav .sub-nav {
    position: absolute;
    display: none;
    width: 200px;
    background-color: #fff;
    left: 0px;
    padding: 0px;
    padding-top: 10px;
    border: 0.5px solid #ccc;
}

.sub-nav-contaier {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    border: 0.5px solid #ccc;
    background-color: #fff;
    padding-bottom: 20px;
    margin-top: 3px;
    display: block;
}

.nav-container:hover #nav-contaier {
}
.active-dropdown{
    background-color: #f5f5f5;
}
.sub-nav-container-tech {
    padding-bottom: 0px;
}

.nav li a {
    color: black;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.nav>li:hover>a {
    color: #C8102E;
}


.nav-container .sub-nav li:hover {
    background-color: rgb(197, 197, 197);
}

/* .nav-container {
    position: relative;
} */

.sub-nav li {
    width: 100%;
    padding-bottom: 9px;

}

.sub-nav li a {
    padding: 8px 20px;
}

.nav-container i {
    padding-left: 5px;
}

.input-search {
    box-shadow: none;
    font-size: 13px;
    padding: 3px 7px;
    color: #999;
    border: none;
    background: no-repeat;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-bottom: 0.5px solid #ccc;
}

.hotline a {
    font-size: 16px;
    font-weight: 600;
    color: #c8102e;
    padding-left: 7px;
}

.silder1 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* overflow: hidden; */
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 1600px;
    /* height: 640px; */
    max-height: 680px;
    touch-action: pan-y;
}

#previous {
    position: absolute;
    top: 50%;
    left: 20px;
}

#next {
    position: absolute;
    top: 50%;
    right: 20px;
}

/* 

#silder {
    display: flex;
    justify-content: center;
} */

#silder img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-position: center;
}

#silder a {
    text-decoration: none;
}

.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.slider-dots li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #999;
    /* cursor: pointer; */
    transition: background-color 0.25s linear;
}

.slider-dots li.active {
    background-color: #EB0A1E;
}

.discovery-vehicles-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;
    color: #1A1A1A;
    margin-bottom: 56px;
}

.section-tab .active {
    border-bottom: 4px solid #EB0A1E;
}

.car-model {
    font-size: 18px;
    text-align: center;
}

.top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.top-content span {
    color: #3A3A3A;
    font-size: 13px;
    line-height: 14px;
}

.box-image {
    position: relative;
}

.image-car {
    width: 100%;
    height: 105px;
    margin: 0 auto;
    transition: 0.2s all ease-in-out;
}

.box-imgae:hover img {
    transform: scale(1.2);
}

.name-car {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #101010;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 7px;
}

.price-car {
    margin-bottom: 16px;
}

.price-car .price {
    color: #3A3A3A;
    font-size: 27px;
    font-weight: 700;
    position: relative;
}

.price-car .price .currency {
    position: absolute;
    top: 0;
    font-size: 10px;
}

.note-car span:first-child {
    padding-left: 0px;
}

.note-car span {
    font-size: 12px;
    color: #1A1A1A;
    border-right: 0.5px solid #CCCCCC;
    padding: 0 16px;
}

.note-car span:last-child {
    border: none;
}