@media only  screen and  (min-width: 1024px){
    #bottom_header {
        display: block;
    }

    .sub-nav-contaier-content{
        max-width: 1200px;
        margin: auto;
    }
    
}

@media only  screen and  (max-width: 1023px){
    #bottom_header {
        display: none;
    }
}

#bottom_header {
    border-top: 1px solid #ccc;
    height: 45px;
}

.nav .sub-nav {
    position: absolute;
    display: none;
    width: 200px;
    background-color: #fff;
    left: 0px;
    padding: 0px;
    padding-top: 10px;
    border: 0.5px solid #ccc;
}

.sub-nav-contaier {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    border: 0.5px solid #ccc;
    background-color: #fff;
    padding-bottom: 20px;
    margin-top: 3px;
    display: block;
}


.active-dropdown{
    background-color: #f5f5f5;
}
.sub-nav-container-tech {
    padding-bottom: 0px;
}

.nav li a {
    color: black;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.nav>li:hover>a {
    color: #C8102E;
}


.sub-nav li {
    width: 100%;
    padding-bottom: 9px;
}

.sub-nav li a {
    padding: 8px 20px;
}

.nav-container i {
    padding-left: 5px;
}
