.car-tech{
    display: flex;
    column-gap: 5px;
    
}

.car-tech img {
    width: 100%;
    height: 100%;
}

.car-content {
    position: relative;
    height: 268px;
}

.car-tech-des{
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    bottom: 20px;
    left: 24px;
    z-index: 1;
}