@media screen and (max-width: 1023px) {

    #vehicles-container {
        margin-top: 74px;
    }

    .vehicles-content-list-contain {
        padding-top: 0px;

    }

    .vehicles-show-conntanin {
        margin-top: 0px;

    }
}

@media screen and (min-width: 1024px) {

    #vehicles-container {
        margin-top: 115px;
    }

    .vehicles-content-list-contain {
        padding-top: 40px;

    }

    .vehicles-show-conntanin {
        margin-top: 80px;

    }


}

.vehicles-banner {
    max-height: 750px;
    margin: auto;
    max-width: 1600px;
}

.vehicles-box {
    width: 100%;
}

.vehicles-banner img {
    width: 100%;
    height: 100%;
}

.vehicles-content-list-contain {
    background-color: #F5F5F5;
    width: 100%;
}

.vehicles-show-conntanin {
    max-width: 1200px;
    margin: auto;
}

.list-car {
    display: flex;
    flex-wrap: wrap
}

.vehicle-item {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-top: 95px;
}

.box-vehicle-item {
    min-height: 450px;
    position: relative;
}

.box-vehicle-image {
    top: -62px;
    height: 134px;
    position: absolute;
    width: 100%;
    /* width: calc(100% - 40px); */
}

.box-vehicle-image img {
    max-width: 320px;
    width: 100%;
}

.box-vehicle-item-content {
    background-color: #FFFF;
    min-height: 450px;
    width: 100%;
    padding-top: 91px;
}

.price-car .price {
    position: relative;
}

.price-car .price .currency {
    position: absolute;
    top: -6px;
    font-size: 12px;
}

.price-car>span:nth-child(1) {
    font-size: 14px;
    margin-right: 8px;
    color: #000000;
    line-height: 20px;
}

.price-car>span:nth-child(2) {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
}

.price-car>span>span:nth-child(1) {
    font-size: 12px;
    line-height: 17px;
    color: #000000;
}

.price-car {
    text-align: center;
}

.car-name {
    margin: 0;
    margin-bottom: 22px;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #000000;
}



.item-description {
    margin-left: 15px;
}

.item-description01 i {
    margin-left: 15px;
    margin-right: 15px;
}

.item-description {
    font-size: 16px;
    line-height: 23px;
    color: #1A1A1A;
    margin-right: 25px;
    margin-bottom: 16px;
}

.item-description01 {
    display: flex;
}

.item-description01 i {
    font-size: 5.5px;
    vertical-align: 0.7em;
}

.vehicle-item:hover .box-vehicle-item {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.price-car {
    margin-bottom: 32px;
}


.item-description {
    margin-bottom: 49px;
}

.content-product-compare {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.cost-est {
    background-color: #EB0A1E;
    border: 1px solid transparent;
    height: 47px;
    display: flex;
    align-items: center;

}

.cost-est:hover a {
    color: #FFFF;
}

.cost-est a {
    color: #FFFF;
    padding: 0 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-decoration: none;
    width: fit-content;
}

.compare {
    background-color: #FFFF;
    border: 1px solid #000000;
    height: 47px;
    display: flex;
    align-items: center;

}

.compare a {
    color: #000000;
    padding: 0 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-decoration: none;
    width: fit-content;
}

.compare:hover a {
    color: #000000;
}

.list-car {
    padding-bottom: 40px;
}

.box-vehicle-image img:nth-child(1) {
    visibility: visible;
    opacity: 1;
    position: absolute;
}

.box-vehicle-image img:nth-child(2) {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.box-vehicle-image div {
    display: flex;
    justify-content: center;
}

.box-vehicle-image div:hover :nth-child(1) {
    visibility: hidden;
    opacity: 1;
    position: absolute;
}

.box-vehicle-image div:hover :nth-child(2) {
    visibility: visible;
    opacity: 1;
    position: absolute;
}