@media screen and (min-width: 1024px) {
    .image-car {
        width: 100%;
        transition: 0.2s all ease-in-out;
        height: 105px;
    }
}

@media screen and (max-width: 1023px) {

    .vehicle-button-next {
        right: 0px;
    }

    .vehicle-button-prev {
        left: 0px;
    }

    .vehicles-content-list {
        justify-content: center;
    }

    .section-tab .nav {
        flex-wrap: nowrap;
        padding: 4px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .image-car {
        height: 100px;
    }
    .contact-form {
        height: 400px;
        overflow-y: auto;
    }
}
 .image-car {
    
    margin: 0 auto;
}

.vehicles-content-list {
    display: flex;
    margin-top: 56px;
}

.vehicle-button-next {
    position: absolute;
    right: 0;
    top: 50%;
}

.vehicle-button-next {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #d7d0d0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container a {
    display: block;
}

.sub-nav li {
    width: 100%;
    padding-bottom: 9px;

}

.sub-nav li a {
    padding: 8px 20px;
}

.nav-container i {
    padding-left: 5px;
}



.hotline a {
    font-size: 16px;
    font-weight: 600;
    color: #c8102e;
    padding-left: 7px;
}


#previous {
    position: absolute;
    top: 50%;
    left: 20px;
}

#next {
    position: absolute;
    top: 50%;
    right: 20px;
}

/* 

#silder {
    display: flex;
    justify-content: center;
} */

#silder img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-position: center;
}

#silder a {
    text-decoration: none;
}

.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.slider-dots li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #999;
    /* cursor: pointer; */
    transition: background-color 0.25s linear;
}

.slider-dots li.active {
    background-color: #EB0A1E;
}

.discovery-vehicles-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;
    color: #1A1A1A;
    margin-bottom: 56px;
}

.section-tab .active {
    border-bottom: 4px solid #EB0A1E;

}

.section-tab .active p {
    font-weight: 800;
}

.car-model {
    font-size: 18px;
    text-align: center;
}

.vehicles-item {
    padding: 0 28px;
}

.vehicles-item a {
    text-decoration: none;
}

.top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.top-content span {
    color: #3A3A3A;
    font-size: 13px;
    line-height: 14px;
}

.box-image {
    position: relative;
}

.box-imgae:hover img {
    transform: scale(1.2);
}

.name-car {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #101010;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 7px;
}

.price-car {
    margin-bottom: 16px;
}

.price-car .price {
    color: #3A3A3A;
    font-size: 27px;
    font-weight: 700;
    position: relative;
}

.price-car .price .currency {
    position: absolute;
    top: 0;
    font-size: 10px;
}

.note-car span:first-child {
    padding-left: 0px;
}

.note-car span {
    font-size: 12px;
    color: #1A1A1A;
    border-right: 0.5px solid #CCCCCC;
    padding: 0 16px;
}

.note-car span:last-child {
    border: none;
}

.section-new-post-small-container {
    text-align: start;
}

.section-new-post-large-container {
    text-align: start;
}

.vehicle-button-prev {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #d7d0d0;
    box-sizing: border-box;
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vehicle-button-prev {
    position: absolute;
    top: 50%;
}

.vehicle-button-next :hover {
    cursor: pointer;
}

.vehicle-button-prev :hover {
    cursor: pointer;
}


.avtive-vehicles-slider {
    border: 1px solid #1A1A1A;
}