@media screen and (max-width: 1023px) {
    .section-title {
        font-weight: bold;
        font-size: 32px;
        line-height: 120%;
        color: #1A1A1A;
        text-align: left;
    }

    #section-discovery-vehicles {
        padding-top: 70px;
        padding-bottom: 60px;
    }

    .section-new-post {
        display: block;
    }

    .section-new-post {
        padding-top: 30px;
    }

    .section-new-post-large {
        width: 100%;
    }

    .section-new-post-large-container img {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .section-title {
        font-weight: bold;
        font-size: 35px;
        line-height: 50px;
        color: #101010;
        margin-bottom: 60px;
    }


    #discovery-vehicles-container {
        max-width: 1200px;
        margin: auto;
    }


    #section-discovery-vehicles {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .vehicles-content {
        width: 300px;
        height: 100%;

    }

    .section-new-post {
        display: flex;
    }

    .section-new-post {
        padding-top: 60px;
        column-gap: 24px;
    }

    .section-new-post-large {
        width: 829px;
    }
}

.sub-nav li {
    width: 100%;
    padding-bottom: 9px;

}

.sub-nav li a {
    padding: 8px 20px;
}

.nav-container i {
    padding-left: 5px;
}



.hotline a {
    font-size: 16px;
    font-weight: 600;
    color: #c8102e;
    padding-left: 7px;
}

.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.slider-dots li {
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #999;
    /* cursor: pointer; */
    transition: background-color 0.25s linear;
}

.slider-dots li.active {
    background-color: #EB0A1E;
}

.section-tab .nav {
    border-bottom: 1.5px black solid;
}

.discovery-vehicles-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;
    color: #1A1A1A;
    margin-bottom: 56px;
}

.section-tab .active {
    border-bottom: 4px solid #EB0A1E;
}

.section-item {
    padding-bottom: 10px;
    width: 200px;
    cursor: pointer;
}

.car-model {
    font-size: 18px;
    text-align: center;
}

.top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.top-content span {
    color: #3A3A3A;
    font-size: 13px;
    line-height: 14px;
}

.box-image {
    position: relative;
}

.box-imgae:hover img {
    transform: scale(1.2);
}

.name-car {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #101010;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 7px;
}

.price-car {
    margin-bottom: 16px;
}

.price-car .price {
    color: #3A3A3A;
    font-size: 27px;
    font-weight: 700;
    position: relative;
}

.price-car .price .currency {
    position: absolute;
    top: 0;
    font-size: 10px;
}

.note-car span:first-child {
    padding-left: 0px;
}

.note-car span {
    font-size: 12px;
    color: #1A1A1A;
    border-right: 0.5px solid #CCCCCC;
    padding: 0 16px;
}

.note-car span:last-child {
    border: none;
}

#section {
    padding-top: 120px;
    padding-bottom: 60px;
}

.section-container {
    max-width: 1200px;
    margin: auto;
}

.section-tab>ul {
    display: flex;
}

.section-tab>ul>li {
    flex: 1;
}

.section-new-post-large a {
    text-decoration: none;
}

.section-new-post-large-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #101010;
    margin-bottom: 12px;
}

.section-new-post-large-content-detail {
    font-size: 14px;
    line-height: 150%;
    color: #101010;
    margin-bottom: 0;
}

.section-new-post-small {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.section-new-post-small-container {
    text-decoration: none;
    width: 100%;
}

.section-new-post-small-container>img {
    width: 100%;
    height: 100%;
    max-height: 173px;
    object-fit: cover;
    object-position: center;
}

.section-new-post-small-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #101010;
    margin-bottom: 8px;
}

.section-new-post-small-detail {
    font-size: 14px;
    line-height: 150%;
    color: #101010;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.section-new-post-small-container {
    text-align: start;
}

.section-new-post-large-container {
    text-align: start;
    width: 100%;
}

.sub-nav-contaier-content {
    position: relative;
}

.avtive-vehicles-slider {
    border: 1px solid #1A1A1A;
}