@import 'normalize.css';

@font-face {
    font-family: 'Toyota Type';
    src: url('../../font-style/ToyotaType-Regular.woff2');
}
// :root {
// }

// html {
// }

* {
    box-sizing: border-box;
}
body {

    font-family: 'Toyota Type';
}
